* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* CONTAINER */
.get-in-touch {
  width: 100%;
  min-height: 517px;
  background-image: url(get-in-touch_image/get-in-touch_bg.png);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.get-in-touch .get-in-touch_info-text {
  padding-top: 79px;
  padding-bottom: 73px;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}
.line {
  position: absolute;
  content: "";
  height: 2px;
  background-color: rgba(0, 0, 0, 0.09);
  width: 100px;
  top: 140px;
  left: 50%;
  transform: translateX(-50%);
}
/* ROW */
.get-in-touch_info {
  width: 960px;
  min-height: 260px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
}
/* COLUMN */
.column_touch {
  width: 33.3%;
  min-height: 238px;
}
/* RESPONSIVE COLUMN WITH MEDIA */
@media screen and (max-width: 1000px) {
  .get-in-touch_info {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .column_touch {
    width: 50%;
    margin-bottom: 5%;
  }
  .column_touch_address {
    order: 1;
  }
  .column_touch_social-media {
    order: 2;
  }
  .column_touch_email {
    order: 3;
  }
}
@media screen and (max-width: 481px) {
  .column_touch {
    width: 100%;
    margin-bottom: 10%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  }
  .column_touch_address {
    order: 1;
  }
  .column_touch_social-media {
    order: 3;
  }
  .column_touch_email {
    order: 2;
  }
}
/* COLUMN ICON IMG STYLES */
.column_touch_address img {
  margin-bottom: 26px;
}
.column_touch_email img {
  margin-bottom: 34px;
}
.icon a{
  text-decoration: none;
  transition: transform .2s;
}
.icon:hover{
  transform: scale(1.1);
}
.column_touch_social-media .heart-img {
  margin-bottom: 28px;
}
/* COLUMN H1 STYLES */
.column_touch h1 {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}
/* COLUMN P TAG STYLES */
.column_touch p {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  color: #212121;
}
/* DIFFERENT STYLES */
.column_touch_email p:nth-child(4) {
  margin-bottom: 22px;
}
.column_touch_social-media div {
  margin-bottom: 11px;
}
.column_touch_social-media p {
  display: inline-block;
}
